@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<section id="bg-contact"></section>
<section id="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Thông Tin Liên Hệ</h5>

                <hr>
                <ul id="socal_list">
                    <li><i class="fa fa-phone"></i> 0909009009</li>
                    <li><i class="fa fa-search"></i> info@gmail.com</li>
                    <li><i class="fa fa-twitter"></i> @@wabu</li>
                    <li><i class="fa fa-facebook-f"></i> facebook.com</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Gửi Phản Hồi</h5>
                <hr>
                <div class="form-horizontal">
                    <p>Sign in today for more expirience.</p>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" placeholder="Your Name" class="form-control">
                            <span class="help-block m-b-none">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" placeholder="Email address" class="form-control">
                            <span class="help-block m-b-none">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" placeholder="Telephone number" class="form-control">
                            <span class="help-block m-b-none">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <textarea rows="6" id="messid" style="width:100%" placeholder="Message" class="form-control"></textarea>
                            <span class="help-block m-b-none">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-xs-12">
                            <button class="btn btn-sm btn-black width100" type="submit">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.1906131021196!2d106.7347296148014!3d10.719776563168004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752542e7fad675%3A0xf7cfc57fbba29aec!2zMTI0NyBIdeG7s25oIFThuqVuIFBow6F0LCBQaMO6IFRodeG6rW4sIFF14bqtbiA3LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1509378031858" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<section id="contact-map">
    <div class="row">
        <div class="col-md-5">
            <div class="ibox animated slideInRight">
                <div class="ibox-title center">
                    <h4 class="font_20">Want To Buil Company</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>