<div class="modal-dialog">
    <div class="modal-content animated fadeIn">
        <form id="frmDetailUser" name="frmUser" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Thêm tài khoản</h4>
                <small class="font-bold">Tính năng thêm tài khoản</small>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @*FullName*@
                    <div id="div-FullName" class="form-group">
                        <label class="col-lg-2 control-label">Họ tên</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   placeholder="Họ và tên user"
                                   class="form-control"
                                   id="FullName"
                                   name="FullName"
                                   data-val-length-max="50"
                                   data-val-length="Họ tên bạn không quá 50 ký tự"
                                   data-val-required="Họ tên bạn là gì?"
                                   data-val="true"
                                   aria-describedby="msg-err-FullName" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="FullName">
                                <span id="msg-err-FullName" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Authority*@
                    <div id="div-Authority" class="form-group">
                        <label class="col-lg-2 control-label">Quyền User</label>
                        <div class="col-lg-10">
                            <select class="form-control m-b"
                                    id="Authority"
                                    name="Authority"
                                    data-val-required="Bạn sẽ có quyền gì?"
                                    data-val="true"
                                    aria-describedby="msg-err-Authority">
                                <option value="">Chọn quyền User</option>
                                <option value="0">Root</option>
                                <option value="1">Administrator</option>
                                <option value="2">Chủ đầu tư</option>
                                <option value="3">Nhà thầu</option>
                            </select>
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Authority">
                                <span id="msg-err-Authority" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*UserName*@
                    <div id="div-UserName" class="form-group">
                        <label class="col-lg-2 control-label">Tên đăng nhập</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   placeholder="Username"
                                   class="form-control"
                                   id="UserName"
                                   name="UserName"
                                   data-val-length-max="50"
                                   data-val-length="Tên đăng nhập bạn không quá 50 ký tự"
                                   data-val-required="Tên đăng nhập bạn là gì?"
                                   data-val="true"
                                   aria-describedby="msg-err-UserName" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="UserName">
                                <span id="msg-err-UserName" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Password*@
                    <div id="div-Password" class="form-group">
                        <label class="col-lg-2 control-label">Mật khẩu</label>
                        <div class="col-lg-10">
                            <input type="password"
                                   placeholder="Mật khẩu"
                                   class="form-control"
                                   id="Password"
                                   name="Password"
                                   data-val-length-max="50"
                                   data-val-length="Mật khẩu bạn không quá 50 ký tự"
                                   data-val-required="Mật khẩu của bạn là gì?"
                                   data-val="true"
                                   aria-describedby="msg-err-Password" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Password">
                                <span id="msg-err-Password" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Password Confirm*@
                    @*<div id="div-Password-Confirm" class="form-group">
                            <label class="col-lg-2 control-label">Xác nhận mật khẩu</label>
                            <div class="col-lg-10">
                                <input type="password"
                                       placeholder="Nhập lại mật khẩu"
                                       class="form-control"
                                       id="Password-Confirm"
                                       name="Password-Confirm"
                                       data-val-length-max="50"
                                       data-val-length="Mật khẩu bạn không quá 50 ký tự"
                                       data-val-required="Mật khẩu của bạn là gì?"
                                       data-val="true"
                                       aria-describedby="msg-err-Password-Confirm" />
                                <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Password-Confirm">
                                    <span id="msg-err-Password-Confirm" class=""></span>
                                </span>
                            </div>
                        </div>*@

                    @*DateOfBirth*@
                    <div id="div-DateOfBirth" class="form-group">
                        <label class="col-lg-2 control-label">Ngày sinh</label>
                        <div class="col-lg-10">
                            <input type="date"
                                   placeholder="Ngày sinh"
                                   class="form-control"
                                   id="DateOfBirth"
                                   name="DateOfBirth"
                                   data-val="true"
                                   aria-describedby="msg-err-DateOfBirth" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="DateOfBirth">
                                <span id="msg-err-DateOfBirth" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Gender*@
                    <div id="div-Gender" class="form-group">
                        <label class="col-lg-2 control-label">Giới tính</label>
                        <div class="col-lg-10">
                            <select class="form-control m-b"
                                    id="Gender"
                                    name="Gender"
                                    data-val="true"
                                    aria-describedby="msg-err-Gender">
                                <option value="">Chọn giới tính</option>
                                <option value="0">Nữ</option>
                                <option value="1">Nam</option>
                            </select>
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="DateOfBirth">
                                <span id="msg-err-DateOfBirth" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*CMND*@
                    @*<div class="form-group">
                            <label class="col-lg-2 control-label">Chứng minh thư</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Chứng minh nhân dân" class="form-control" id="CMND">
                                <span class="help-block m-b-none text-danger">Example block-level help text here.</span>
                            </div>
                        </div>*@

                    @*PhoneNumber*@
                    <div id="div-PhoneNumber" class="form-group">
                        <label class="col-lg-2 control-label">Số điện thoại</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   placeholder="Số điện thoại liên hệ"
                                   class="form-control"
                                   id="PhoneNumber"
                                   name="PhoneNumber"
                                   data-val-length-max="11"
                                   data-val-length="Mật khẩu bạn không quá 11 ký tự"
                                   data-val="true"
                                   aria-describedby="msg-err-PhoneNumber" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="PhoneNumber">
                                <span id="msg-err-PhoneNumber" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Address*@
                    <div id="div-Address" class="form-group">
                        <label class="col-lg-2 control-label">Địa chỉ</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   placeholder="Địa chỉ user"
                                   class="form-control"
                                   id="Address"
                                   name="Address"
                                   data-val-length-max="250"
                                   data-val-length="Địa chỉ bạn không quá 250 ký tự"
                                   data-val="true"
                                   aria-describedby="msg-err-Address" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Address">
                                <span id="msg-err-Address" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Email*@
                    <div id="div-Email" class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   placeholder="Phone"
                                   class="form-control"
                                   id="Email"
                                   name="Email"
                                   data-val-required="Email của bạn là gì?"
                                   data-val-length-max="50"
                                   data-val-length="Địa chỉ Email bạn không quá 50 ký tự"
                                   data-val="true"
                                   aria-describedby="msg-err-Email" />
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Email">
                                <span id="msg-err-Email" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*Image*@
                    <div id="div-Image" class="form-group">
                        <label class="col-lg-2 control-label">Hình đại diện</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Image" class="form-control" id="Image">
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Image">
                                <span id="msg-err-Image" class=""></span>
                            </span>
                        </div>
                    </div>

                    @*IsActive*@
                    <div id="div-IsActive" class="form-group">
                        <label class="col-lg-2 control-label">Cho phép hoạt động</label>
                        <div class="col-lg-10">
                            <div class="i-checks">
                                <label>
                                    <input type="checkbox"
                                           value="true"
                                           checked="checked"
                                           id="IsActive"
                                           name="IsActive"
                                           data-val="true"
                                           aria-describedby="msg-err-IsActive" />
                                    <i></i> kích hoạt
                                </label>
                            </div>
                            <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="IsActive">
                                <span id="msg-err-IsActive" class=""></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" id="btnSaveUser" onclick="CreateUser(event);">Lưu</button>
            </div>
        </form>
    </div>
</div>