@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="row">
    <div class="col-md-4 fix-content-center">
        <div class="m-t animated fadeInDown text-center">
            <div id="changePasswordSuccess" class="hide">
                <h5 class="font_20 text-white">Thay đổi mật khẩu thành công</h5>
                <a href="@Url.Action("Index", "Login")" class="btn btn-primary block full-width m-b" id="btnLogin">Đăng Nhập</a>
            </div>
            <form id="frmChangePassword" method="post">
                @Html.AntiForgeryToken()
                <h5 class="font_20 text-white">Đổi mật khẩu</h5>

                <div class="form-group">
                    <input type="text"
                           placeholder="Email"
                           class="form-control"
                           id="Email"
                           name="Email"
                           value="@Html.Raw(ViewBag.Email)"
                           data-val-length-max="50"
                           data-val-length="Email bạn không quá 50 ký tự"
                           data-val-required="Email bạn là gì?"
                           data-val="true"
                           aria-describedby="msg-err-UserName" />
                    <span class="help-block m-b-none text-danger font-weight" data-valmsg-replace="true" data-valmsg-for="Email">
                        <span id="msg-err-Email" class=""></span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password"
                           maxlength="20"
                           minlength="4"
                           placeholder="Mật Khẩu Cũ"
                           class="form-control"
                           id="OldPassword"
                           name="OldPassword"
                           data-val-length-max="20"
                           data-val-length="Mật Khẩu bạn không quá 20 ký tự"
                           data-val-required="Mật Khẩu bạn là gì?"
                           data-val="true"
                           aria-describedby="msg-err-OldPassword" />
                    <span class="help-block m-b-none text-danger font-weight" data-valmsg-replace="true" data-valmsg-for="OldPassword">
                        <span id="msg-err-OldPassword" class=""></span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password"
                           maxlength="20"
                           minlength="4"
                           placeholder="Mật Khẩu Mới"
                           class="form-control"
                           id="NewPassword"
                           name="NewPassword"
                           data-val-length-max="20"
                           data-val-length="Mật Khẩu bạn không quá 20 ký tự"
                           data-val-required="Mật Khẩu bạn là gì?"
                           data-val="true"
                           aria-describedby="msg-err-NewPassword" />
                    <span class="help-block m-b-none text-danger font-weight" data-valmsg-replace="true" data-valmsg-for="NewPassword">
                        <span id="msg-err-NewPassword" class=""></span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password"
                           maxlength="20"
                           minlength="4"
                           placeholder="Xác Nhận Mật Khẩu"
                           class="form-control"
                           id="PasswordConfirm"
                           name="PasswordConfirm"
                           data-val-length-max="20"
                           data-val-length="Mật Khẩu bạn không quá 20 ký tự"
                           data-val-required="Mật Khẩu bạn là gì?"
                           data-val="true"
                           aria-describedby="msg-err-ConfirmPassword" />
                    <span class="help-block m-b-none text-danger font-weight" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword">
                        <span id="msg-err-ConfirmPassword" class=""></span>
                    </span>
                </div>
                <input type="hidden" id="EmailConfirmToken" name="EmailConfirmToken" value="@Html.Raw(ViewBag.code)">
                <button type="submit" class="btn btn-primary block full-width m-b" id="funcChangePassword" onclick="funcChangePassword();">Xác Nhận</button>
            </form>
        </div>
    </div>
</div>

<script>
    function funcChangePassword() {

        if (validForm("frmChangePassword")) {
            $("#funcChangePassword").prop('disabled', true);
            var antiForgeryVal = $('input[name="__RequestVerificationToken"]').val();
            var code = ('#EmailConfirmToken').val();
            debugger;
            var dataform = {
                OldPassword: $('#OldPassword').val(),
                NewPassword: $('#NewPassword').val(),
                PasswordConfirm: $('#PasswordConfirm').val(),
                Email: $("#Email").val(),
                __RequestVerificationToken: antiForgeryVal,
                EmailConfirmToken: code
            };

            $.post('/Login/ChangePassword', dataform, function (responsed) {
                if (responsed) {
                    if (responsed.Data.code == "0") {
                        $('#frmChangePassword').addClass('hide');
                        $('#changePasswordSuccess').removeClass('hide');
                    }
                    else if (responsed.Data.code == "1") {
                        toastr.error(resultData.Data.message);
                    }
                }
            });
        }

    }
</script>