@{
    /**/
    ViewBag.Title = "Thông Báo Thay Đỗi Mật Khẫu";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<link href="/Content/Common/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="row">
    <div class="col-md-4 fix-content-center">
        <div class="m-t-register animated fadeInDown text-center">
            <h2 class="font_20 text-white bold">Thông Báo</h2>
            <br />
            <p class="font_15 text-white">Thay đỗi mật khẫu thành công!</p>
            <p class="font_15 text-white">Cảm ơn bạn đã sử dụng dịch vụ.</p>
            <div class="clear"></div>
            <a class="btn btn-primary block full-width m-b mt15" href="@Url.Action("Index", "Home")">Quay lại trang chủ</a>
        </div>
    </div>
</div>

