@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="row">
    <div class="col-md-4 fix-content-center">
        <div class="m-t animated fadeInDown text-center">
            <p class="font_15 text-white">Vui lòng kiểm tra email</p>
            <p class="font_15 text-white">Mật khẩu mới đã được gửi đến email của bạn</p>
            <div class="clear"></div>
            <a class="btn btn-primary block full-width m-b mt15" href="@Url.Action("Index", "Home")">Quay lại trang chủ</a>
        </div>
    </div>
</div>

<script>
    function funcForgetPassword() {
        if (validForm("frmForgetpassword")) {
            $("#btnForgetpassword").prop('disabled', true);
            var antiForgeryVal = $('input[name="__RequestVerificationToken"]').val();
            var dataform = {
                email: $("#Email").val(),
                __RequestVerificationToken: antiForgeryVal
            };
            $.post('/Login/ForgetPassword', dataform, function (responsed) {
                if (responsed.ResultMessageWarnId != null && responsed.ResultMessageWarn != null) {
                    
                }
            });
        }

        hideOverLoad();
    }
</script>