@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="row">
    <div class="col-md-4 fix-content-center">
        <div class="m-t animated fadeInDown text-center">
            <form id="frmForgetPassword" method="post">
                @Html.AntiForgeryToken()
                <h5 class="font_20 text-white">Quên mật khẩu</h5>
                
                <div class="form-group">
                    <input type="text"
                           placeholder="Email"
                           class="form-control"
                           id="Email"
                           name="Email"
                           data-val-length-max="50"
                           data-val-length="Email bạn không quá 50 ký tự"
                           data-val-required="Email bạn là gì?"
                           data-val="true"
                           aria-describedby="msg-err-UserName" />
                    <span class="help-block m-b-none text-danger font-weight" data-valmsg-replace="true" data-valmsg-for="Email">
                        <span id="msg-err-Email" class=""></span>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" id="btnForgetPassword" onclick="funcForgetPassword();">Gửi mật khẩu về email</button>
                <a href="@Url.Action("Index", "Register")" class="forgetpass text-white"><small>Tạo tài khoản ngay!</small></a>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Login")">Đăng nhập</a>
            </form>
        </div>
    </div>
</div>

<script>
    function funcForgetPassword() {
        if (validForm("frmForgetpassword")) {
            $("#btnForgetpassword").prop('disabled', true);
            var antiForgeryVal = $('input[name="__RequestVerificationToken"]').val();
            var dataform = {
                email: $("#Email").val(),
                __RequestVerificationToken: antiForgeryVal
            };

            $.post('/Login/ForgetPassword', dataform, function (responsed) {
                if (responsed) {
                    if (responsed.Data.code == "1") {
                        toastr.error(resultData.Data.message);
                    }
                }
            });
        }

        hideOverLoad();
    }
</script>