
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="m-t animated fadeInUp text-center text-white">
            <h2>HẸN GẶP LẠI QUÝ KHÁCH</h2>
            <p>Qúy khách vừa đăng xuất khỏi hệ thống wan to build, xin cảm ơn quý khách đã tin tưởng sử dụng dịch vụ của chúng tôi hẹn gặp lại quý khách lần sau.</p>
            <p><a href="#" class="text-white">Quay Lại Trang Chủ!</a></p>
        </div>
    </div>
</div>
