@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    var postDetail = ViewBag.PostDetail;
}
<div id="biddingNewsRegistration-screen">
    <section class="Createbuilder">
        <div class="row" id="bidcontractiondetail">
            <div class="container">
                <div class="background-body-bid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox-title">
                                <h5><i class="fa fa-info-circle"></i> @postDetail.Title</h5>
                            </div>
                            <div class="ibox">
                                <div class="ibox-content pd_top15_bottom15">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            @*<div class="slick_images">
                                                @{
                                                    string imageContruction1 = string.IsNullOrEmpty(Model.Construction.Image1FilePath) ? "Content/Common/img/no-thumbnail.png" : Model.Construction.Image1FilePath;
                                                }
                                                <div>
                                                    <img src="~/@imageContruction1" alt="" width="100%" class="img-thumbnail" />
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <h3 class="col-md-3 text-left"><strong>@postDetail.Username</strong></h3>
                                                <h3 class="col-md-3 text-right"><strong>@postDetail.DateInserted</strong></h3>
                                            </div>
                                        </div>
                                        @Html.Raw(postDetail.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .text-right {
        float: right !important
    }
</style>