@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Contractor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/WABU.css" rel="stylesheet" />
    <link href="~/Content/Common/css/animate.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@ViewBag.idnhathau</a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#ContractorInfo" class="scroll">Info</a></li>
                        <li><a href="#ContractorOffice" class="scroll">Office</a></li>
                        <li><a href="#ContractorPeople" class="scroll">People</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="contractor-bg-head" id="ContractorInfo"></div>
    <div class="container-fluid contractor-info animated">
        <div class="container">
            <div class="col-md-2">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/FPT-transparent.png" alt="" class="full100">
            </div>
            <div class="col-md-4">
                <h2>FPT Software</h2>
                <p><span>address</span> | <span>url</span></p>
                <p>linh vuc chinh | linh vuc lien quan</p>
            </div>
        </div>
    </div>
    <div id="ContractorOffice" class="container-fluid contractor-office">
        <div class="container">
            <h2 class="text-center">OUR OFFICE</h2>
            <hr />
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Offcie_FVille.png" alt="" class="full100 animated" />
            </div>
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Office-2.jpg" alt="" class="full100 animated" />
            </div>
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Office-3-1.jpg" alt="" class="full100 animated" />
            </div>
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Offcie_FVille.png" alt="" class="full100 animated" />
            </div>
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/F_4.png" alt="" class="full100 animated" />
            </div>
            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Office_FVille-2.jpg" alt="" class="full100 animated" />
            </div>

            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Office-6.jpg" alt="" class="full100 animated" />
            </div>

            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Office-7.jpg" alt="" class="full100 animated" />
            </div>

            <div class="col-md-4">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/Activities.jpeg" alt="" class="full100 animated" />
            </div>
        </div>
    </div>
    <div id="ContractorPeople" class="container-fluid contractor-people animated">
        <div class="container">
            <h2 class="text-center">OUR PEOPLE</h2>
            <hr />
            <div class="col-md-3">
                <h3><b>Hoang Anh Minh</b></h3>
                <p><i>R&D</i></p>
                <p>I choose FPT Software to develop R&D career for new technologies: computer vision, voice control, natural language processing...</p>
                <p>Although there are many interesting challenges, I love living and working in many countries. It's interesting to do things that haven't been done before.</p>
            </div>
            <div class="col-md-9">
                <img src="https://images02.vietnamworks.com/companyprofile/migrate/uploads/2016/06/FPT-people2.png" alt="" class="full100">
            </div>
        </div>
    </div>
    <div class="footer-contractor">
        <div class="clicktop gray-bg300 text-center">
            <a href="#"><i class="fa fa-angle-up font_30"></i></a>
        </div>
        <div class="row">
            <div class="container">
                <div>
                    <h1>WANT TO BUILD</h1>
                    <ul class="col-md-3 footer-menu-top">
                        <li><a href="/About/index">About</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="/Contact/index">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Tern & Corn</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <p class="pull-left">Site design and build by NnullSolution</p>
                <div class="pull-right">
                    <ul class="social-all">
                        <li><a href="#"><i class="fa fa-facebook-square font_30 text-white"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square font_30 text-white"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr-square font_30 text-white"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube font_30 text-white"></i></a></li>
                    </ul>
                </div>
                @*<p class="pull-right">Đăng ký để nhận lấy thông tin công việc mới nhất</p>*@
            </div>
        </div>
    </div>
    <script>

        $(function () {
            $(".scroll").on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $('html, body').animate({
                    scrollTop: ($(target).offset().top)
                }, 2000);
                //target = target + ">img";
                //alert(target);
                //setTimeout(function () { $(target).addClass("bounceInUp") });
            });
            //$(window).scroll(function () {
            //    var at = $(this).attr("href");
            //    alert(at);
            //    //var y = $(this).scrollTop();
            //    //var CO = $('#ContractorOffice').offset().top;
            //    //var CP = $('#ContractorPeople').offset().top;
            //    //if (y == CO - 200 || y == CP)
            //    //{
            //    //    $("#ContractorOffice").addClass("bounceInUp");
            //    //}
            //    //if (y == CP - 200 || y == CP) {
            //    //    $("#ContractorPeople").addClass("bounceInUp");
            //    //}
            //});
        });
    </script>
</body>
</html>
