@model FW.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Quản lí bài viết</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/usermaster">Home</a>
            </li>
            <li class="active">
                <a href="/posts">Quản lý bài viết</a>
            </li>
            <li class="active">
                <strong>Tạo mới bài viết</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form id="frmEditUser" name="frmUser" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tạo Mới Bài Viết</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Tiêu đề bài viết </label>
                                <div class="col-md-10">
                                    <input type="text"
                                           placeholder="Tiêu đề bài viết"
                                           class="form-control"
                                           id="Title"
                                           name="Title"
                                           data-val-required="Tiêu đề bài viết là gì?"
                                           data-val="true"
                                           aria-describedby="msg-err-Title" />
                                    <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Title">
                                        <span id="msg-err-Title" class=""></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Người đăng tin </label>
                                <div class="col-md-10">
                                    <input type="text"
                                           placeholder="Tên người đăng tin"
                                           class="form-control"
                                           id="Username"
                                           name="Username"
                                           data-val-length-max="50"
                                           data-val-length="Tên người đăng tin 50 ký tự"
                                           data-val-required="Tên người đăng tin là gì?"
                                           data-val="true"
                                           aria-describedby="msg-err-Username" />
                                    <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Username">
                                        <span id="msg-err-Username" class=""></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Nội dung bài viết</label>
                                <div class="col-md-10">
                                    <textarea type="text"
                                              placeholder="Nội dung bài viết"
                                              class="form-control"
                                              id="Content"
                                              name="Content"
                                              data-val="true"
                                              aria-describedby="msg-err-Content"></textarea>
                                    <span class="help-block m-b-none text-danger" data-valmsg-replace="true" data-valmsg-for="Content">
                                        <span id="msg-err-Content" class=""></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Trạng Thái</label>
                                <div class="col-md-10">
                                    <div class="col-md-3 custom-radio-button">
                                        <input type="checkbox" class="js-switch" id="IsDeleted" name="IsDeleted" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-primary" type="submit" id="createPost" onclick="postManagement.createPost()">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .custom-radio-button > span {
        height: 20px;
        width: 40px;
        margin-top: 5px;
    }

        .custom-radio-button > span > small {
            height: 20px;
            width: 20px;
        }
</style>

@section scripts{
    <script src="~/Scripts/app/Post/post.js"></script>
    <script src="~/Scripts/app/AreaManage/areaManageJS.js"></script>
    <script>
        $(document).ready(function () {

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#0D5C63' });
    </script>
}

