@{
    var pagingPackageList = ViewBag.pagingPackageList;
    var currentPage = int.Parse(ViewData["CurrentPagePackage"].ToString());
    var totalPage = pagingPackageList.TotalPages;
    var maxPageShow = 5;
    if (totalPage > 0 && currentPage > totalPage)
    {
        currentPage = totalPage;
    }
    var halfPage = maxPageShow / 2;
    var startPage = currentPage - halfPage;
    if (startPage < 1)
    {
        startPage = 1;
    }
    var endPage = currentPage + halfPage;
    if (endPage > totalPage)
    {
        endPage = totalPage;
    }
}
<tfoot>
    <tr>
        <td colspan="6" class="footable-visible">
            <ul class="pagination pull-right">
                @{
                    if (pagingPackageList.TotalItems > 0)
                    {
                        if(startPage > 1)
                        {
                            <li class="footable-page-arrow"><a data-page="first" href="#" onclick="accountPage.changePageOnListPackage(1, event)">«</a></li>
                            <li class="footable-page-arrow"><a data-page="prev" href="#" onclick="accountPage.changePageOnListPackage(@currentPage - 1, event)">‹</a></li>
                        }
                        for (int i = startPage; i < endPage + 1; i++)
                        {
                            if (i == currentPage)
                            {
                                <li class="active"><a href="javascript:void(0)">@i</a></li>
                            }
                            else
                            {
                                <li class="footable-page"><a data-page="1" href="#" onclick="accountPage.changePageOnListPackage(@i, event)">@i</a></li>

                            }
                        }
                        if (endPage < totalPage)
                        {
                            <li class="footable-page-arrow"><a data-page="next" href="#" onclick="accountPage.changePageOnListPackage(@currentPage + 1, event)">›</a></li>
                            <li class="footable-page-arrow"><a data-page="last" href="#" onclick="accountPage.changePageOnListPackage(@totalPage, event)">»</a></li>
                        }

                    }
                }
            </ul>
        </td>
    </tr>
</tfoot>